@tailwind base;
@tailwind components;
@tailwind utilities;

/* Active page highlight */
.mary-table-pagination span[aria-current="page"] > span {
    @apply bg-primary text-base-100
}

/* For dark mode*/
.mary-table-pagination span[aria-disabled="true"] span {
    @apply bg-inherit
}

/* For dark mode*/
.mary-table-pagination button {
    @apply bg-base-100
}
